/* COLOR PALETTE: BASE MAIN - EEEEEE; GREY - 686D76; DARK GREY - 373A40; ACCENT - DC5F00*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

:root{
    --base-color: #000000;
}

.title-top{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f8fafd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-top img{
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
}

.top-name h1{
    height: 60px;
    font-size: 40px;
    padding-right: 50px;
    font-weight: 400;
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.navbar{
    height: 60px;
    margin: 0 40px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbar a{
    display: flex;
    gap: 2rem;
    font-size: 18px;
    color: #004f71;
    font-weight: 500;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;

}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #004f71;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.toggle_btn{
    color: #004f71;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    padding-right: 30px;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0px;
    width: fit-content;
    background: #004f71;
    backdrop-filter: blur(15px);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dropdown_menu a{
    display: none;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.dropdown_menu.open {
    height: 150px;
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: fit-content;
    background: #004f71;
    backdrop-filter: blur(15px);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1000px){
    .navbar{
        display: none;
    }
    .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
        z-index: 2;
    }
    .dropdown_menu a{
        display: block;
        z-index: 2;
    }
    .top-name h1{
        padding-right: 75px;
    }
}

#banner{
    background: linear-gradient(rgba(0,0,0,0.5),var(--base-color)),url(../images/train.png);
    background-size: cover;
    background-position: center;
    height: 30svh;
}

.banner-text{
    text-align: center;
    color: white;
    padding-top: 30px;
}

.banner-text h1{
    font-size: 120px;
    font-family: 'Oswald', sans-serif;
}

.banner-text p{
    font-size: 20px;
    font-style: italic;
}



.banner-btn{
    margin: 70px auto 0;
}

.banner-btn a{
    width: 180px;
    text-decoration: none;
    display:inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: .5px solid white;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span{
    width: 100%;
}

.banner-btn a:hover{
    color:black;
}

@media screen and (max-width: 1000px){
    .banner-text h1{
        font-size: 44px;
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
}


/*--feature--*/

#feature{
    width: 100%;
    padding: 50px 0;
    background-color: #EEEEEE;
}

.title-text{
    text-align: center;
    padding-bottom: 20px;
}

.title-text p{
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 120px;
    padding-right: 120px;
}

.title-text h1{
    padding-top: 20px;
    font-size: 40px;
}

/*--service--*/

#service{
    width: 100%;
    padding: 10px 0;
    background: white;

}

.service-box{
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: auto;
}

.single-service{
    flex-basis: 45%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.single-service img{
    width: 100%;
    border-radius: 7px;
}

.overlay{
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),var(--base-color));
    opacity: 0;
    transition: 1s;
}

.single-service:hover .overlay{
    opacity: 1;
}

.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;

}

.service-desc h3{
    font-size: 40px; 
}

.service-desc p{
    font-size: 20px; 
}

.service-desc a{
    text-decoration: none;
    color: #fff;
}

.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}

@media screen and (max-width: 1000px){
    .service-box{
        flex-wrap: wrap;
    }
    .single-service{
        flex-basis: 400px;
        margin-bottom: 30px;
    }
    .service-desc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service-desc{
        bottom: 35% !important;
    }

    .title-text p{
        padding-left: 60px;
        padding-right: 60px;
    }
}

/*--team-features--*/

.team-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.team-features{
    flex-basis: 50%;
}

.team-features-img{
    flex-basis: 50%;
    margin: auto;
}

.team-features-img img{
    width: 70%;
    border-radius: 10px;
}

.team-features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 300;
    color: var(--base-color);
}

.team-features p{
    font-size: 20px;
}
.sc-description p{
    padding-bottom: 10px;
    padding-left: 120px;
    padding-right: 120px;
    font-size: 20px;
}

.team-desc{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.team-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: var(--base-color);
    border: 1px solid var(--base-color);
}

.team-text{
    padding: 0 20px;
    text-align: initial;
}

.sc-description{
    padding: 0 20px;
    text-align: center;
    padding-bottom: 20px;
}

@media screen and (max-width: 1200px){
    .title-text h1{
        font-size: 35px;
    }

    .team-features{
        flex-basis: 100%;
    }

    .team-features-img{
        flex-basis: 100%;
    }

    .team-features-img img{
        width: 100%;
    }
    .sc-description p{
        padding-left: 60px;
        padding-right: 60px;
    }
}

/*--features--*/

.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features{
    flex-basis: 50%;
}

.features-img{
    flex-basis: 50%;
    margin: auto;
}

.features-img img{
    width: 70%;
    border-radius: 10px;
}

.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: var(--base-color);
}

.features p{
    font-size: 20px;
}

.feature-desc{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.feature-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: var(--base-color);
    border: 1px solid var(--base-color);
}

.feature-text{
    padding: 0 20px;
    text-align: initial;
}


@media screen and (max-width: 1000px){
    .title-text h1{
        font-size: 35px;
    }

    .features{
        flex-basis: 100%;
    }

    .features-img{
        flex-basis: 100%;
    }

    .features-img img{
        width: 100%;
    }
}

/*-- Testimonial --*/

#testimonial{
    width: 100%;
    padding: 50px 0;
    background-color: #EEEEEE;
}

.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform .5s;
    background-color: white;
}

.testimonial-col p{
    font-size: 14px;
}

.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img{
    width: 100px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info .fa{
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}

.user-info small{
    color: var(--base-color);
}

.testimonial-col:hover{
    transform: translateY(-7px);
}

@media screen and (max-width: 1000px){
    .testimonial-col{
        flex-basis: 100%;
    }
}

/*-- footer --*/

#footer{
    padding: 20px 0 20px;
    background-color: #fff;
    position: relative;
}

.footer-row{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.footer-left, .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right{
    text-align: center;
}

.footer-row h1{
    margin: 10px 0;
}

.footer-row p{
    line-height: 35px;
}

.footer-left .fa, .footer-right .fa{
    font-size: 20px;
    color: var(--base-color);
    margin: 10px;
}

.footer-img{
    max-width: 300px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-30%);
}

.social-links{
    text-align: center;
}

.social-links .fa{
    cursor: pointer;

    height: 40px;
    width: 40px;
    font-size: 20px;
    
    line-height: 40px;
    margin: 40px 20px 0px;
    border: 1px solid var(--base-color);
    
    color: var(--base-color);

}

.social-links .fa:hover{
    background: var(--base-color);
    color: #fff;
}

.social-links p{
    font-size: 12px;
    margin-top: 100px;
}

@media screen and (max-width: 1000px){
    .footer-left, .footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img{
        top: 25%;
    }
}

/*--RESEARCH--*/

#feature-friction{
    width: 100%;
    padding: 50px 0;
    background-color: white;
}

#feature-noise{
    width: 100%;
    padding: 50px 0;
    background-color: white;
}

#feature-simulation{
    width: 100%;
    padding: 50px 0;
    background-color: white;
}

/*--facility-features--*/

.facility-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.facility-features{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.facility-features-img{
    flex-basis: 50%;
    margin: auto;
}

.facility-features-img img{
    width: 70%;
    border-radius: 10px;
}

.facility-features h1{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 100;
    color: var(--base-color);
}

.facility-features p{
    font-size: 20px;
}

.facility-desc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.facility-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: var(--base-color);
    border: 1px solid var(--base-color);
}

.facility-text{
    padding: 0 20px;
    text-align: initial;
}

@media screen and (max-width: 1000px){
    .title-text h1{
        font-size: 35px;
    }

    .facility-features{
        flex-basis: 100%;
    }

    .facility-features-img{
        flex-basis: 100%;
    }

    .facility-features-img img{
        width: 100%;
    }
}
